.x-form-fieldset .x-field:first-child .x-input-text {
-webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
-webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
}


/*zobrazeni eventu */
.event{
border:1px solid #555;
border-radius:4px;
padding:.5em;
margin: 0 0 .5em 0;
}
.event h2{
font-size:1.2em
}
